
<h1>Create a new note!</h1>
<form action="/notes/new" method="POST">
  <input type="text" name="note[title]" size="99" placeholder="title">
  <br>
  <br>
  <textarea name="note[content]" cols=100 rows=10 placeholder="Write your note here."></textarea>
  <br>
  <br>
  <br>
  <input type="submit" value="submit">
</form>
